@import url('./default/code-84c85cb29e52.css');
@import url('./default/dark_dimmed-afda8eb0fb33.css');
@import url('./default/github-6da540aa3f84.css');
@import url('./default/global-e647c9e7e18c.css');
@import url('./default/global-user-nav-drawer.830d6c10c9fea7fc134e.module.css');
@import url('./default/primer-f4d27dc36ca2.css');
@import url('./default/primer-primitives-4cf0d59ab51a.css');
@import url('./default/primer-react-css.0d8b6f1df73aed00eeda.module.css');
@import url('./default/react-code-view.cbc84db7f6a2b0bd0a66.module.css');
@import url('./default/repository-0f7cf89e325a.css');


@import url('./mhtlCss/css-b2963a73-cdbe-4003-9e91-d3814ae81be7@mhtml.css');

.fGqKFv {
  margin: 10px;
  display: flex;
}

.eoaCFS {
  border: 1px solid var(--borderColor-default, var(--color-border-default));
  border-radius: 6px;
}

.iXYcHE {
  max-height: calc(-64px + 92dvh);
}

.markdown-body .anchor {
  margin-left: 0;
}

#popupBtn {
  background-color: #6cb6ff;
  color: #000;
  position: fixed;
  z-index: 5;
  top: 30px;
  transform: translateX(25px);
  /* box-shadow: 0px 0px 8px rgb(108, 182, 255, 0.8); */
  box-shadow: var(--shadow-floating-small, var(--color-overlay-shadow, 0 0 0 1px #444c56, 0 16px 32px rgba(28, 33, 40, 0.85)));
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.underl {
  border-bottom: 1px solid var(--borderColor-default, var(--color-border-default));
}

.notes-icons {
  margin-left: 10px;
  height: 16px;
  font-size: 16px;
}