@import url("./test/1.css");
@import url("./test/2.css");
@import url("./test/3.css");
@import url("./test/4.css");
@import url("./test/5.css");

@import url("./test/code-84c85cb29e52.css");
@import url("./test/dark_dimmed-afda8eb0fb33.css");
@import url("./test/github-6da540aa3f84.css");
@import url("./test/global-e647c9e7e18c.css");
@import url("./test/global-user-nav-drawer.830d6c10c9fea7fc134e.module.css");
@import url("./test/notifications-subscriptions-menu.1bcff9205c241e99cff2.module.css");
@import url("./test/primer-f4d27dc36ca2.css");
@import url("./test/primer-primitives-4cf0d59ab51a.css");
@import url("./test/primer-react-css.0d8b6f1df73aed00eeda.module.css");
@import url("./test/react-code-view.cbc84db7f6a2b0bd0a66.module.css");
@import url("./test/repository-0f7cf89e325a.css");

.cTsUqU, .eoaCFS {
  border: 1px solid var(--borderColor-default, var(--color-border-default));
  padding: 10px 32px;
  margin: 10px 0;
  min-width: 0px;
  border-radius: 6px;
  position: relative;
}

.iXYcHE {
  max-height: calc(-64px + 92dvh);
}

.markdown-body .anchor {
  margin-left: 0;
}

#popupBtn {
  position: absolute;
  right: 10px;
  top: 15px;
}