@charset "utf-8";

.w8hcgFksdo30C8w-bygqu { color: rgb(0, 0, 0); }

.ydkKdaztSS0AeHWIeIHsQ a { color: rgb(0, 103, 184); }

.erL690_8JwUW-R4bJRcfl { background-color: rgb(235, 235, 235); border: none; color: rgb(0, 0, 0); }

.erL690_8JwUW-R4bJRcfl:enabled:hover { color: rgb(0, 0, 0); background-color: rgb(219, 219, 219); box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px; border: none; }

.erL690_8JwUW-R4bJRcfl:enabled:focus { background-color: rgb(219, 219, 219); box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px; border: 2px solid rgb(0, 0, 0); }

.erL690_8JwUW-R4bJRcfl:disabled { opacity: 1; color: rgba(0, 0, 0, 0.2); background-color: rgba(0, 0, 0, 0.2); border: none; }

._1zNQOqxpBFSokeCLGi_hGr { border: none; background-color: rgb(0, 103, 184); color: rgb(255, 255, 255); }

._1zNQOqxpBFSokeCLGi_hGr:enabled:hover { color: rgb(255, 255, 255); background-color: rgb(0, 103, 184); box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px; border: none; }

._1zNQOqxpBFSokeCLGi_hGr:enabled:focus { background-color: rgb(0, 103, 184); box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px; border: 2px solid rgb(0, 0, 0); }

._1zNQOqxpBFSokeCLGi_hGr:disabled { opacity: 1; color: rgba(0, 0, 0, 0.2); background-color: rgba(0, 120, 215, 0.2); border: none; }

._23tra1HsiiP6cT-Cka-ycB { position: relative; display: flex; z-index: 9999; width: 100%; background-color: rgb(242, 242, 242); justify-content: space-between; text-align: left; }

div[dir="rtl"]._23tra1HsiiP6cT-Cka-ycB { text-align: right; }

._1Upc2NjY8AlDn177YoVj0y { margin: 0px; padding-left: 5%; padding-top: 8px; padding-bottom: 8px; }

div[dir="rtl"] ._1Upc2NjY8AlDn177YoVj0y { margin: 0px; padding: 8px 5% 8px 0px; float: none; }

._23tra1HsiiP6cT-Cka-ycB svg { fill: none; max-width: none; max-height: none; }

._1V_hlU-7jdtPiooHMu89BB { display: table-cell; padding: 12px; width: 24px; height: 24px; font-family: "Segoe UI", SegoeUI, Arial, sans-serif; font-style: normal; font-weight: normal; font-size: 24px; line-height: 0; }

.f6QKJD7fhSbnJLarTL-W- { display: table-cell; vertical-align: middle; padding: 0px; font-family: "Segoe UI", SegoeUI, Arial, sans-serif; font-style: normal; font-weight: normal; font-size: 13px; line-height: 16px; }

.f6QKJD7fhSbnJLarTL-W- a { text-decoration: underline; }

._2j0fmugLb1FgYz6KPuB91w { display: inline-block; margin-left: 5%; margin-right: 5%; min-width: fit-content; align-self: center; position: relative; }

._1XuCi2WhiqeWRUVp3pnFG3 { margin: 4px; padding: 5px; min-width: 150px; min-height: 36px; vertical-align: top; cursor: pointer; font-family: "Segoe UI", SegoeUI, Arial, sans-serif; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; text-align: center; }

._1XuCi2WhiqeWRUVp3pnFG3:focus { box-sizing: border-box; }

._1XuCi2WhiqeWRUVp3pnFG3:disabled { cursor: not-allowed; }

._2bvsb3ubApyZ0UGoQA9O9T { display: block; position: fixed; z-index: 10000; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.6); overflow: auto; text-align: left; }

div[dir="rtl"]._2bvsb3ubApyZ0UGoQA9O9T { text-align: right; }

div[dir="rtl"] ._2bvsb3ubApyZ0UGoQA9O9T { left: auto; right: 0px; }

.AFsJE948muYyzCMktdzuk { position: relative; top: 8%; margin-bottom: 40px; margin-left: auto; margin-right: auto; box-sizing: border-box; width: 640px; background-color: rgb(255, 255, 255); border: 1px solid rgb(0, 103, 184); }

._3kWyBRbW_dgnMiEyx06Fu4 { float: right; z-index: 1; margin: 2px; padding: 12px; border: none; cursor: pointer; font-family: "Segoe UI", SegoeUI, Arial, sans-serif; font-style: normal; font-weight: normal; font-size: 13px; line-height: 13px; display: flex; align-items: center; text-align: center; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); }

div[dir="rtl"] ._3kWyBRbW_dgnMiEyx06Fu4 { margin: 2px; padding: 12px; float: left; }

.uCYvKvHXrhjNgflv1VqdD { position: static; margin-top: 36px; margin-left: 36px; margin-right: 36px; }

._17pX1m9O_W--iZbDt3Ta5r { margin-top: 0px; margin-bottom: 12px; font-family: "Segoe UI", SegoeUI, Arial, sans-serif; font-style: normal; font-weight: 600; font-size: 20px; line-height: 24px; text-transform: none; }

._1kBkHQ1V1wu3kl-YcLgUr6 { height: 446px; overflow: auto; }

._20_nXDf6uFs9Q6wxRXG-I- { margin-top: 0px; font-family: "Segoe UI", SegoeUI, Arial, sans-serif; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; }

._20_nXDf6uFs9Q6wxRXG-I- a { text-decoration: underline; }

dl._2a0NH_GDQEQe5Ynfo7suVH { margin-top: 36px; margin-bottom: 0px; padding: 0px; list-style: none; text-transform: none; }

dt._3j_LCPv7fyXv3A8FIXVwZ4 { margin-top: 20px; float: none; font-family: "Segoe UI", SegoeUI, Arial, sans-serif; font-style: normal; font-weight: 600; font-size: 18px; line-height: 24px; list-style: none; }

.k-vxTGFbdq1aOZB2HHpjh { margin: 0px; padding: 0px; border: none; }

._2Bucyy75c_ogoU1g-liB5R { margin: 0px; padding: 0px; border-bottom: none; font-family: "Segoe UI", SegoeUI, Arial, sans-serif; font-style: normal; font-weight: 600; font-size: 18px; line-height: 24px; text-transform: none; }

._63gwfzV8dclrsl2cfd90r { display: inline-block; margin-top: 0px; margin-bottom: 13px; font-family: "Segoe UI", SegoeUI, Arial, sans-serif; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; }

._1l8wM_4mRYGz3Iu7l3BZR7 { display: block; }

._2UE03QS02aZGkslegN_F-i { display: inline-block; position: relative; left: 5px; margin-bottom: 13px; margin-right: 34px; padding: 3px; }

div[dir="rtl"] ._2UE03QS02aZGkslegN_F-i { margin: 0px 0px 13px 34px; padding: 3px; float: none; }

div[dir="rtl"] ._2UE03QS02aZGkslegN_F-i { left: auto; right: 5px; }

._23tra1HsiiP6cT-Cka-ycB ::before, ._2bvsb3ubApyZ0UGoQA9O9T ::before, ._23tra1HsiiP6cT-Cka-ycB ::after, ._2bvsb3ubApyZ0UGoQA9O9T ::after { box-sizing: inherit; }

._1HSFn0HzGo6w4ADApV8-c4 { outline: rgba(0, 0, 0, 0.8) solid 2px; }

input[type="radio"]._1dp8Vp5m3HwAqGx8qBmFV2 { display: inline-block; position: relative; margin-top: 0px; margin-left: 0px; margin-right: 0px; height: 0px; width: 0px; border-radius: 0px; cursor: pointer; outline: none; box-sizing: border-box; appearance: none; }

input[type="radio"]._1dp8Vp5m3HwAqGx8qBmFV2 + label::before { display: block; position: absolute; top: 5px; left: 3px; height: 19px; width: 19px; content: ""; border-radius: 50%; border: 1px solid rgb(0, 0, 0); background-color: rgb(255, 255, 255); }

div[dir="rtl"] input[type="radio"]._1dp8Vp5m3HwAqGx8qBmFV2 + label::before { left: auto; right: 3px; }

input[type="radio"]._1dp8Vp5m3HwAqGx8qBmFV2:not(:disabled) + label:hover::before { border: 1px solid rgb(0, 103, 184); }

input[type="radio"]._1dp8Vp5m3HwAqGx8qBmFV2:not(:disabled) + label:hover::after { display: block; position: absolute; top: 10px; left: 8px; height: 9px; width: 9px; content: ""; border-radius: 50%; background-color: rgba(0, 0, 0, 0.8); }

div[dir="rtl"] input[type="radio"]._1dp8Vp5m3HwAqGx8qBmFV2:not(:disabled) + label:hover::after { left: auto; right: 8px; }

input[type="radio"]._1dp8Vp5m3HwAqGx8qBmFV2:not(:disabled) + label:focus::before { border: 1px solid rgb(0, 103, 184); }

input[type="radio"]._1dp8Vp5m3HwAqGx8qBmFV2:not(:disabled) + label:focus::after { display: block; position: absolute; top: 10px; left: 8px; height: 9px; width: 9px; content: ""; border-radius: 50%; background-color: rgb(0, 0, 0); }

div[dir="rtl"] input[type="radio"]._1dp8Vp5m3HwAqGx8qBmFV2:not(:disabled) + label:focus::after { left: auto; right: 8px; }

input[type="radio"]._1dp8Vp5m3HwAqGx8qBmFV2:checked + label::after { display: block; position: absolute; top: 10px; left: 8px; height: 9px; width: 9px; content: ""; border-radius: 50%; background-color: rgb(0, 0, 0); }

div[dir="rtl"] input[type="radio"]._1dp8Vp5m3HwAqGx8qBmFV2:checked + label::after { left: auto; right: 8px; }

input[type="radio"]._1dp8Vp5m3HwAqGx8qBmFV2:disabled + label { cursor: not-allowed; }

input[type="radio"]._1dp8Vp5m3HwAqGx8qBmFV2:disabled + label::before { border: 1px solid rgba(0, 0, 0, 0.2); background-color: rgba(0, 0, 0, 0.2); }

._3RJzeL3l9Rl_lAQEm6VwdX { display: block; position: static; float: right; margin: 0px 0px 0px 19px; padding: 0px 0px 0px 8px; width: calc(100% - 19px); font-family: "Segoe UI", SegoeUI, Arial, sans-serif; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; text-transform: none; cursor: pointer; box-sizing: border-box; }

div[dir="rtl"] ._3RJzeL3l9Rl_lAQEm6VwdX { margin: 0px 19px 0px 0px; padding: 0px 8px 0px 0px; float: left; }

.nohp3sIG12ZBhzcMnPala { margin-top: 20px; margin-bottom: 48px; }

._2uhaEsmeotZ3P-M0AXo2kF { padding: 0px; width: 278px; height: 36px; cursor: pointer; font-family: "Segoe UI", SegoeUI, Arial, sans-serif; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; text-align: center; }

._2uhaEsmeotZ3P-M0AXo2kF:focus { box-sizing: border-box; }

._2uhaEsmeotZ3P-M0AXo2kF:disabled { cursor: not-allowed; }

._3tOu1FJ59c_xz_PmI1lKV5 { float: right; padding: 0px; width: 278px; height: 36px; cursor: pointer; font-family: "Segoe UI", SegoeUI, Arial, sans-serif; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; text-align: center; }

._3tOu1FJ59c_xz_PmI1lKV5:focus { box-sizing: border-box; }

._3tOu1FJ59c_xz_PmI1lKV5:disabled { cursor: not-allowed; }

div[dir="rtl"] ._3tOu1FJ59c_xz_PmI1lKV5 { margin: 0px; padding: 0px; float: left; }

@media only screen and (max-width: 768px) {
  ._2j0fmugLb1FgYz6KPuB91w, ._1Upc2NjY8AlDn177YoVj0y { padding: 8px 3.75% 12px; margin: 0px; width: 92.5%; }
  ._23tra1HsiiP6cT-Cka-ycB { display: block; }
  ._1XuCi2WhiqeWRUVp3pnFG3 { margin-bottom: 8px; margin-left: 0px; margin-right: 0px; width: 100%; }
  ._2bvsb3ubApyZ0UGoQA9O9T { overflow: hidden; }
  .AFsJE948muYyzCMktdzuk { top: 1.8%; width: 93.33%; height: 96.4%; overflow: hidden; }
  .uCYvKvHXrhjNgflv1VqdD { margin-top: 24px; margin-left: 24px; margin-right: 24px; height: 100%; }
  ._1kBkHQ1V1wu3kl-YcLgUr6 { height: calc(100% - 188px); min-height: 50%; }
  ._2uhaEsmeotZ3P-M0AXo2kF { width: 100%; }
  ._3tOu1FJ59c_xz_PmI1lKV5 { margin-bottom: 12px; margin-left: 0px; width: 100%; }
  div[dir="rtl"] ._3tOu1FJ59c_xz_PmI1lKV5 { margin: 0px 0px 12px; padding: 0px; float: none; }
}

@media only screen and (max-width: 768px) and (orientation: landscape), only screen and (max-height: 260px), only screen and (max-width: 340px) {
  .AFsJE948muYyzCMktdzuk { overflow: auto; }
}

@media only screen and (max-height: 260px), only screen and (max-width: 340px) {
  ._1XuCi2WhiqeWRUVp3pnFG3 { min-width: 0px; }
  ._3kWyBRbW_dgnMiEyx06Fu4 { padding: 3%; }
  .uCYvKvHXrhjNgflv1VqdD { margin-top: 3%; margin-left: 3%; margin-right: 3%; }
  ._17pX1m9O_W--iZbDt3Ta5r { margin-bottom: 3%; }
  ._1kBkHQ1V1wu3kl-YcLgUr6 { height: calc(79% - 64px); }
  .nohp3sIG12ZBhzcMnPala { margin-top: 5%; margin-bottom: 10%; }
  ._3tOu1FJ59c_xz_PmI1lKV5 { margin-bottom: 3%; }
  div[dir="rtl"] ._3tOu1FJ59c_xz_PmI1lKV5 { margin: 0px 0px 3%; padding: 0px; float: none; }
}
